<div id="navbar">
    <p id="name" style="color: yellow;" >ShoesStore</p>
    <input placeholder="Tìm Kiếm..." id="search">
    <div class="right">
        
        <h2 (click)="navigateToCart()" style="color: white;">
            <span class="material-icons" style="color: white;">shopping_cart</span>{{this.cartSerVice.cart.length}}
        </h2>
        
    </div>

    <div class="left">
        <button (click)="navigateToHome()">Trang Chủ</button>
        <Button (click)="navigateToNike()">Nike</Button>
        <button (click)="navigateToAdidas()">Adidas</button>
        <button (click)="navigateToPuma()">Puma</button>
        <button (click)="navigateToMizuno()">Mizuno</button>
        <button>Liên Hệ</button>
        <button style="color: white; background-color: red;">Sale Xả Hàng</button>
    </div>
</div>
<span></span>
